<div class="row">
    <h1>Personel Ekleme Kısmı</h1>
    <div class="col">
        <div class="card h-auto">
            <div class="card-body">
                <h2 class="card-title">Personel Bilgileri</h2>
                <input class="form-control me-2" [(ngModel)]="ad" type="text" placeholder="Ad" aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="soyad" type="text" placeholder="Soyad" aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="cinsiyet" type="text" placeholder="Cinsiyet"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="tc_kimlik" type="text" placeholder="TC Kimlik"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="dogum_tarihi" type="text" placeholder="Doğum Tarihi"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="dogum_yeri" type="text" placeholder="Doğum Yeri"
                    aria-label="Text">
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-auto">
            <div class="card-body">
                <h2 class="card-title">Kişisel Bilgileri</h2>
                <input class="form-control me-2" [(ngModel)]="askerlik" type="text" placeholder="Askerlik" aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="bolum" type="text" placeholder="Bölüm" aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="cep_telefonu" type="text" placeholder="Cep Telefonu"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="e_posta" type="text" placeholder="E-Posta"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="ikametgah" type="text" placeholder="İkametgah"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="meslek_tanimi" type="text" placeholder="Meslek Tanımı"
                    aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="ogrenim_durumu" type="text" placeholder="Öğrenim Durumu"
                    aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="tecil_suresi" type="text" placeholder="Tecil Süresi"
                    aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="terhis_tarihi" type="text" placeholder="Terhis Tarihi"
                    aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="yerlesim_adres" type="text" placeholder="Yerleşim Yeri"
                    aria-label="Text">
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card h-auto">
                <div class="card-body">
                    <h2 class="card-title">Sigorta Bilgileri</h2>
                    <input class="form-control me-2" [(ngModel)]="haftalik_calisma_saati" type="text" placeholder="Haftalık Çalışma Saati" aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="sigorta_bitis_tarihi" type="text" placeholder="Sigorta Bitiş Tarihi" aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="sozlesme_turu" type="text" placeholder="Sözleşme Türü"
                        aria-label="Text">
                </div>
            </div>
    </div>
    <div class="col">
        <div class="card h-auto">
            <div class="card-body">
                <h2 class="card-title">Maaş Bilgileri</h2>
                <input class="form-control me-2" [(ngModel)]="maas" type="text" placeholder="Maaş" aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="ise_giris_tarihi" type="text" placeholder="İşe Giriş Tarihi"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="cikis_tarihi" type="text" placeholder="Çıkış Tarihi" aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="haftalik_izin_gunu" type="text" placeholder="Haftalık İzin Günü"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="calisma_saati" type="text" placeholder="Çalışma Saati"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="cikis_saati" type="text" placeholder="Çıkış Saati"
                    aria-label="Text">
                <input class="form-control me-2" [(ngModel)]="giris_saati" type="text" placeholder="Giriş Saati"
                    aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="gunluk_izin" type="text" placeholder="Günlük İzin"
                    aria-label="Text">
                    <input class="form-control me-2" [(ngModel)]="yillik_izin" type="text" placeholder="Yıllık İzin"
                    aria-label="Text">
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card h-auto">
                <div class="card-body">
                    <h2 class="card-title">Çalışma Bilgileri</h2>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Birim</mat-label>
                        <mat-select [(ngModel)]="birim_id" (selectionChange)="birimComboBoxVerileri($event,birim_ad)" [(value)]="birim_ad">
                            <mat-option *ngFor ="let birim of birimler" [value]="birim">{{birim.birim_ad}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Görev</mat-label>
                        <mat-select [(ngModel)]="gorev_id" (selectionChange)="gorevComboBoxVerileri($event,pozisyon)" [(value)]="pozisyon">
                            <mat-option *ngFor ="let gorev of gorevler" [value]="gorev">{{gorev.pozisyon}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    <input class="form-control me-2" [(ngModel)]="unvan_adi" type="text" placeholder="Unvan Adı"
                        aria-label="Text">
                </div>
            </div>
        </div>
        <button class="btn btn-outline-success" (click)="eklePersonelBilgileri()">Ekle</button>
</div>