<div class="container">
    <h2>Personel Güncelleme Kısmı</h2>
    <input class="form-control me-2" [(ngModel)]="id" type="text" placeholder="ID" aria-label="Text">
    <input class="form-control me-2" [(ngModel)]="ad" type="text" placeholder="Ad" aria-label="Text">
    <input class="form-control me-2" [(ngModel)]="soyad" type="text" placeholder="Soyad" aria-label="Text">
    <input class="form-control me-2" [(ngModel)]="cinsiyet" type="text" placeholder="Cinsiyet" aria-label="Text">
    <input class="form-control me-2" [(ngModel)]="tc_kimlik" type="text" placeholder="TC Kimlik" aria-label="Text">
    <input class="form-control me-2" [(ngModel)]="dogum_tarihi" type="text" placeholder="Doğum Tarihi" aria-label="Text">
    <input class="form-control me-2" [(ngModel)]="dogum_yeri" type="text" placeholder="Doğum Yeri" aria-label="Text">
    <button class="btn btn-outline-success" (click)="guncellePersonelBilgileri()">Güncelle</button>
</div>