<!-- <ul>
  <li *ngFor="let product of products">{{product.prName}}</li>
</ul> -->
<div class="container">
  <div class="row mt-5">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a href="#" class="nav-link active">Hoşgeldiniz</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ekle-personel" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" type="btn">Personel Ekleme</a>
          </li>
          <li class="nav-item">
            <a routerLink="/guncelle-personel" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Personel Bilgilerini Güncelleme</a>
          </li>
        </ul>
      </div> 
      <div class="card-body">
        <h1 class="card-title">Hoşgeldiniz Tarık Bey!</h1>
        <p class="card-text">Stajyerlerinizin hazırladığı İnsan Kaynakları Sistemi, kullanıma hazırdır.</p>
        <button type="button" class="btn btn-secondary" (click)="showHide()">Personel Bilgilerini Görüntülemek İçin Tıklayın</button>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <app-personel-bilgileri *ngIf="status"></app-personel-bilgileri>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>