<div class="container">
    <form class="d-flex mt-2" role="search">
        <input class="form-control me-2" type="search" [(ngModel)]="filterText" placeholder="Arama yapmak için personel adı giriniz." aria-label="Search" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-outline-success" (click)="araPersonelBilgileri()">Ara</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Kullanıcı ID</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Cinsiyet</th>
                <th>TC Kimlik</th>
                <th>Doğum Tarihi</th>
                <th>Doğum Yeri</th>
            </tr>
        </thead>
        <tr *ngFor="let personelBilgileri of newPersonelBilgileri">
            <td>{{personelBilgileri.id}}</td>
            <td>{{personelBilgileri.ad}}</td>
            <td>{{personelBilgileri.soyad}}</td>
            <td>{{personelBilgileri.cinsiyet}}</td>
            <td>{{personelBilgileri.tc_kimlik}}</td>
            <td>{{personelBilgileri.dogum_tarihi}}</td>
            <td>{{personelBilgileri.dogum_yeri}}</td>
            <button class="btn btn-outline-danger btn-sm" (click)="silPersonelBilgileri(personelBilgileri.id)">Personeli Sil</button>
        </tr>
    </table>
</div>